@media only screen and (max-width: 600px) {
  img {
    width: 150%;
  }
}

body {
    margin-left: 10%;
    margin-right: 10%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.navigation-link {
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.font-xx-large {
    font-size: xx-large;
}

.center {
    display: flex; 
    justify-content: center;
}

.left {
    display: flex; 
    justify-content: left;
}

.avatar {
    margin: auto;
    width: 15%;
    display: flex; 
    justify-content: center;
}

.heading1
{
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 10px;
}

.heading2
{
    font-weight: bolder;
    font-size: x-large;
    margin-top: 10px;
}

.heading1top
{
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 40px;
}
